@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
    padding: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: medium;
  }


  .footer {

    position: absolute;
    left: 7px;
    bottom: 0;
    width: 100%;
	padding: 0px;
	text-align: left;
	color: black;

}